@if (isOpen) {
    <div
      class="top-0 left-0 w-screen h-screen fixed flex justify-center items-center z-30"
    >
      <div class="bg-white rounded-lg p-6 w-1/4 z-30">
        <div class="flex justify-end">
          <button
            (click)="onCloseModel()"
            type="button"
            class="text-white bg-blue-500 hover:bg-red-500 focus:outline-none font-xs rounded-full px-0 py-1 text-center mr-0 absolute h-7 w-7"
          >
            X
          </button>
        </div>
        <ng-content> </ng-content>
      </div>
      <div class="flex h-screen w-screen absolute bg-gray-900/60"></div>
    </div>
    }
    
    